body::before {
    content: "";
    background: url(./background.jpg) no-repeat center center/cover;
    width: 230vw;
    height: 235vh;
    position: absolute;
    top: 0px;
    opacity: 0.8;
    z-index: -1;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height:180px;
}
body{
    font-size: 20px !important;
}
.container{
    transform:translate(18vw,18vw);
}
h3{
    font-size: 40px;
}
[type="text"]{
    height: 45px;
    /* font-size: 28px; */
}
.bt
{
    width:166px ;
    height: 40px;
    font-size:28px;
}